[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
docutils = "*"
doc8 = "*"

[packages]
discord-py = {extras = ["voice"],version = "*"}
asyncpg = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
